body
{
background-color: pink;
text-align: center;
}

#i
{
    color: navy;
    font-size: 100px;

}

#j
{
    visibility: hidden;
}

img
{
    height: 300px;
    width: 400px;
}

#g
{
    width: 400px;
    height: 500px;
}